md
notes/
node_modules
.DS_Store
dist
lib
*.local
*.tgz
*.log
*.map
*.gz
*.br
*.wasm
*.wasm.map
*.wasm.gz
*.wasm.br
*.wasm.w
*.wasm.w.map
*.wasm.w.gz
*.wasm.w.br
*.wasm.w.w
*.wasm.w.w.map
*.wasm.w.w.gz
*.wasm.w.w.br